<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICreateEmp" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59496/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
                contract="ServiceReference1.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
            <endpoint address="http://localhost:59496/EmployeeService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreateEmp"
                contract="ServiceReference1.ICreateEmp" name="WSHttpBinding_ICreateEmp">
                <identity>
                    <userPrincipalName value="sshinde@pune.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>